:root {
    --menu-color: rgb(15, 15, 4);
}


header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--menu-color);
}

header h1 {
    color: rgb(98, 168, 124);
    font-weight: bold;
    font-size: 48px;
}

header a {
    font-size: 20px;
    color: rgb(207, 228, 215);
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}

header a:hover {
    color: rgb(164, 140, 195);
}

.active-link {
    color: rgb(164, 140, 195);
    text-decoration: underline;
}

#main_nav a {
    font-size: 20px;
    text-align: center;
}

body {
    overflow-x: hidden;
    background-color: rgb(244, 237, 237);
    margin-left: 220px;   
    margin-top: 0px; 
}

h1, h5 {
    color: rgb(98, 168, 124);
    font-family: Courier, monospace;
}

h2 {
    color:rgb(183, 93, 105);
}

h3 {
    color: rgb(136, 57, 68);
}

h4 {
    color: rgb(60, 26, 63)
}

p {
    color:rgb(16, 17, 27);
}

em {
    color: rgb(100, 50, 57);
    font-weight: bold;
}

a {
    color: rgb(70, 77, 119);
}

td {
    text-align: center;
}

.sidemenu {
    scroll-margin-top: 185px;
}

#network {
    margin: auto;
    position: relative;
    width: 80vw;
    height: auto;
    max-height: 50em;
}

#network_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(190, 190, 190);
    position: relative;
    width: 80%;
    max-width: 730px;
    height: auto;
    z-index: 1;
}

#network_legend {
    border: 1px solid rgb(190, 190, 190);
    position: absolute;
    height: 40%;
    z-index: 2;
    float: right;
    top: -30px;
    right: -175px;
    margin-right: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#prof_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background: var(--menu-color);
    padding-top: 5.75rem;
    font-family: Courier;
    font-weight: bold;
}

#prof_nav ul {
    list-style: none;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    padding-inline: 15px;
}

#prof_nav li {
    margin-bottom: 8px;
}

#prof_nav a {
    color: rgb(164, 140, 195);
}

#main_info {
    font-size: 20px;
    padding-top: 30px;
}


.articles {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.article-card {
    width: 350px;
    background: rgb(247, 242, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0);
}

.article-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    text-decoration: none;
}

.article-info {
    text-align: center;
    height: 100px;
}

.article-info h5 {
    margin-block-start: 1em;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: none;
}

.date {
    color: #555;
    margin-top: 4px;
    text-decoration: none;
}