header {
    width: 100vw;
    background-color: black;
}

header h1 {
    color: rgb(98, 168, 124);
    font-weight: bold;
    font-size: 48px;
}

header a {
    font-size: 16px;
    color: rgb(207, 228, 215);
}

nav {
    text-align: center;
}

body {
    background-color: rgb(244, 237, 237);
}

h1 {
    color: rgb(98, 168, 124);
    font-family: Courier, monospace
}

h2 {
    color:rgb(183, 93, 105);
}

h3 {
    color: rgb(136, 57, 68);
}

h4 {
    color: rgb(60, 26, 63)
}

p {
    color:rgb(16, 17, 27);
}

a {
    color: rgb(70, 77, 119);
    text-decoration: underline;
}

#network {
    margin: auto;
    position: relative;
    width: 100vw;
    height: auto;
}

#network_graph {
    border: 1px solid rgb(190, 190, 190);
    position: relative;
    width: 80%;
    height: auto;
    z-index: 1;
}

#network_legend {
    border: 1px solid rgb(190, 190, 190);
    position: absolute;
    height: 40%;
    z-index: 2;
    float: right;
    top: -25px;
    right: 30px;
}